@import "../../../scss/vars";

.menu {
  position: relative;
  margin-top: -15px;
  margin-right: 20px;
  width: 100%;
  min-width: 180px;
  max-width: 180px;
  text-align: center;
}

.list {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

.item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.link {
  position: relative;
  display: inline-block;
  font-size: 18px;
  transition: color 0.5s;

  &:hover {
    color: var(--color-red-brand);
  }

  &.active {
    color: var(--color-red-brand);
  }
}
