.posts {
    &__item {
        position: relative;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__avatar {
        margin-right: 15px;
    }

    &__likes {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}