.user {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__avatar {
        margin-right: 50px;
        width: 150px;
    }

    &__ava {
        object-fit: cover;
    }
}