body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template: "h h" 60px "n m" 1fr / 2fr 10fr;
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;

    &--header {
        grid-area: h;
    }

    &--menu {
        grid-area: n;
    }

    &--main {
        grid-area: m;
    }
}

body {
    background-repeat: no-repeat;
    background-image: url("/images/main-bg.jpg");
    background-size: cover;
}