body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;
}