@import "./src/scss/vars";

.dialogs {
    display: flex;

    &__items {
        width: 20%;
    }

    &__link {
        transition: color 0.5s;

        &:hover {
            color: $accent;
        }

        &--active {
            color: $accent;
        }
    }
}