@import "src/scss/vars";
@import "src/scss/mixins";

.checkbox {
  cursor: pointer;

  > * {
    box-sizing: border-box;
  }

  &__input {
    @include visually-hidden;

    &:checked + .checkbox__text::after {
      opacity: 1;
    }
  }

  &__text {
    position: relative;
    padding-left: 22px;
    user-select: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      border-radius: 3px;
    }

    &::before {
      z-index: 1;
      border: 1px solid #d86;
    }

    &::after {
      z-index: 2;
      opacity: 0;
      background-image: url("/images/check.svg");
      background-position: center;
      background-size: 12px 9px;
      background-repeat: no-repeat;
    }
  }
}